* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #686b70;
}

#container {
    display: flex;
    background-color: #686b70;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

#game {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid rgb(58, 58, 60);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 2px;
    flex-grow: 1;
}

.title {
    color: #3f4249;
    font-size: 2.5rem;
    border: 2px solid #d6b87c;
    box-shadow: 0 0 10px rgba(214, 213, 213, 0.5);
    font-weight: bold;
    margin: 0.4rem 0 0.4rem 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 3%;

}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square {
    border: 2px solid #d6b87c;
    width: 6vh;
    height: 6vh;
    max-width: 60px;
    max-height: 60px;
    font-size: 4vh;
    font-weight: bold;
    color: #afb6c5;
    text-transform: uppercase;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keyboard-container {
    height: 300px;
    max-height: 30vh;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border: 0;
    padding: 0;
    height: 58px;
    max-height: 10vw;
    cursor: pointer;
    background-color: #141D2F;
    color: rgb(215, 218, 220);
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
    font-size: 3vh;
    font-weight: normal;
    border: 2px solid #d6b87c;
}

button:hover {
    background-color: #d6b87c;
    color: #141D2F;

}

.keyboard-row button.wide-button {
    flex-grow: 1.5;
}

.space-half {
    flex-grow: 0.5;
}

/*==================================== 
  Our Modal Window styles
=====================================*/
.modal {
    background: #686b70;
    display: inline-block;
    padding: 1em;
}

@media (min-width: 43.75em) {
    .modal {
        padding: 1.5em;
    }
}

.modal>label {
    background: #686b70;
    border: 1px solid #d6b87c;
    border-radius: .2em;
    color: #141D2F;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 0.75em 1.5em;
    transition: all 0.55s;
    font-family: 'Poppins', sans-serif;
}

.modal>label:hover {
    transform: scale(0.97);
}

.modal__overlay {
    background: #141D2F;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    text-shadow: none;
    top: 0;
    z-index: 600;
}

.modal__wrap {
    padding: 1em 0;
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    width: 90%;
}

@media (min-width: 50em) {
    .modal__wrap {
        padding: 1.75em;
    }
}

@media (min-height: 37.5em) {
    .modal__wrap {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -80%);
    }
}

.modal__wrap label {
    background: #d6b87c;
    border-radius: 50%;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    height: 1.5em;
    line-height: 1.5;
    position: absolute;
    right: 49%;
    top: 99%;
    width: 1.5em;
}

.modal__wrap h2 {
    color: #d6b87c;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.modal__wrap p {
    color: #d6b87c;
    text-align: justify;
}

.modal input:focus~label {
    transform: scale(0.97);
}

input {
    position: absolute;
    top: -1000px;
}

.modal__overlay {
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -100;
}

input:checked~.modal__overlay {
    opacity: 1;
    transform: scale(1);
    z-index: 800;
}